
.fit-video-container 
    width: 100%
    margin-bottom: 22px
          
.fit-video-player
    width: 100%
    height: auto
    background: $wt
    height: 21vw
    display: flex
    align-items: center
    justify-content: center
    border-radius: 7px
    overflow: hidden
    video 
        width: 100%
        height: auto

.fit-video-title
    color: $wt
    font-size: 34px
    line-height: 1
    font-weight: 300